.signin-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-image: url(../../public/assets/auth/Login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
   .signin-container {
        background-image: none;
        background: var(--primary);
   }
}
.signin-container form {
    width: 490px;
    font-size: 14px;
}
.signin-container form button {
    transition: .2s;
}
.signin-container form a {
    color: var(--blue);
    font-weight: 500;
}
.signin-container form a:hover {
    text-decoration: underline;
    color: var(--blue-dark);
}
.signin-container form .card {
    padding: 3rem 4rem;
}
.signin-container form .card .form-groups {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.signin-container form .card .form-groups .form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.signin-container form .card .form-groups .form-group input {
    padding: 10px;
    border-radius: .2rem;
    background: #2A3038;
    color: var(--blue-text);
    border: .5px solid #00000000;
    transition: .3s;
}
.signin-container form .card .form-groups .form-group input:focus {
    border: .5px solid var(--green-opacity-input);
}
.signin-container form .card .form-groups .remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.signin-container form .card .form-groups .remember-me div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}
.signin-container form .card .form-groups .remember-me div:first-child label {
    color: var(--blue-text);
}
.signin-container form .card .form-groups #login-btn {
    padding: 15px;
    border-radius: .2rem;
    font-weight: 600;
    color: #fff;
    background: var(--blue);
}
.signin-container form .card .form-groups #login-btn:hover {
    background: var(--blue-dark);
}
.signin-container form .card .form-groups .login-with {
    margin-top: .6rem;
    display: flex;
    gap: .5rem;
}
.signin-container form .card .form-groups .login-with button {
    padding: 5px;
    border-radius: .2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signin-container form .card .form-groups .login-with button span {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: .2rem;
}
.signin-container form .card .form-groups .login-with button:first-child {
    background: var(--facebook-blue);
    color: #fff;
}
.signin-container form .card .form-groups .login-with button:first-child:hover {
    background: var(--facebook-blue-dark);
}
.signin-container form .card .form-groups .login-with button:last-child {
    background: #DC4A38;
    color: #fff;
}
.signin-container form .card .form-groups .login-with button:last-child:hover {
    background: #be4131;
}
.signin-container form .card .form-groups .dont-have-an-account {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1rem;
    gap: .2rem;
}
.dont-have-an-account.signup {
    text-align: center;
}
@media (max-width: 480px) {
    .signin-container form .card .form-groups .dont-have-an-account {
        display: block;
        text-align: center;
    }
}
@media (max-width: 370px) {
    .signin-container form .card .form-groups .login-with button {
        gap: .2rem;
    }
    .signin-container form .card .form-groups .login-with button span:last-child {
        font-size: 14px;
    }
}
@media (max-width: 350px) {
    .signin-container form .card .form-groups .login-with button span:last-child {
        display: none;
    }
    .signin-container form .card .form-groups .remember-me {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
    }
}

